
<div class="card" style="width: 20rem; box-shadow: 0 0 35px #bcd820">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-teste">
        <img
          class="img-teste"
          src="/assets/img/tipo/bug.png"
          alt="Random first slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-teste">
        <img
          class="img-teste"
          src="/assets/img/tipo/fire.png"
          alt="Random second slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-teste">
        <img
          class="img-teste"
          src="/assets/img/tipo/bug.png"
          alt="Random first slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
