<nav class="navbar navbar-expand-md navbar-transparente sticky-top" style="border-bottom: solid 1px;">
  <a class="navbar-brand margem color-text" href="#">

    <h2><img src="https://cdn-icons-png.flaticon.com/512/528/528101.png" width="50" height="50" alt=""> PocketMonster</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lista-itens" aria-controls="lista-itens" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="lista-itens">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link  color-text " routerLink="busca"> Buscar <img class="icon" src="/assets/img/lupa.png"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  color-text" routerLink="lista"> Lista <img class="icon" src="/assets/img/list-icon.png"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  color-text" routerLink="listaTipo"> Tipos <img class="icon" src="/assets/img/masterball.png"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  color-text" routerLink="teste"> TESTE <img class="icon" src="/assets/img/teste.png"></a>
      </li>

    </ul>
  </div>
</nav>



